cycler==0.10.0 -i https://mirrors.aliyun.com/pypi/simple/
decorator==4.4.2 -i https://mirrors.aliyun.com/pypi/simple/
easydict==1.9 -i https://mirrors.aliyun.com/pypi/simple/
imageio==2.10.4 -i https://mirrors.aliyun.com/pypi/simple/
joblib==1.1.0 -i https://mirrors.aliyun.com/pypi/simple/
kiwisolver==1.3.1 -i https://mirrors.aliyun.com/pypi/simple/
llvmlite==0.36.0 -i https://mirrors.aliyun.com/pypi/simple/
matplotlib==3.3.4 -i https://mirrors.aliyun.com/pypi/simple/
networkx==2.5.1 -i https://mirrors.aliyun.com/pypi/simple/
numba==0.53.1 -i https://mirrors.aliyun.com/pypi/simple/
numpy==1.19.5 -i https://mirrors.aliyun.com/pypi/simple/
olefile==0.46 -i https://mirrors.aliyun.com/pypi/simple/
opencv-python==4.5.3.56 -i https://mirrors.aliyun.com/pypi/simple/
pandas==0.24.2 -i https://mirrors.aliyun.com/pypi/simple/
Pillow==8.3.2 -i https://mirrors.aliyun.com/pypi/simple/
progress==1.6 -i https://mirrors.aliyun.com/pypi/simple/
progressbar==2.5 -i https://mirrors.aliyun.com/pypi/simple/
protobuf==3.17.2 -i https://mirrors.aliyun.com/pypi/simple/
pyparsing==2.4.7 -i https://mirrors.aliyun.com/pypi/simple/
python-dateutil==2.8.2 -i https://mirrors.aliyun.com/pypi/simple/
pytz==2021.3 -i https://mirrors.aliyun.com/pypi/simple/
PyWavelets==1.1.1 -i https://mirrors.aliyun.com/pypi/simple/
PyYAML==6.0 -i https://mirrors.aliyun.com/pypi/simple/
scikit-image==0.15.0 -i https://mirrors.aliyun.com/pypi/simple/
scikit-learn==0.24.2 -i https://mirrors.aliyun.com/pypi/simple/
scipy==1.5.4 -i https://mirrors.aliyun.com/pypi/simple/
threadpoolctl==3.0.0 -i https://mirrors.aliyun.com/pypi/simple/
torch==1.1.0 -i https://mirrors.aliyun.com/pypi/simple/
torchvision==0.3.0 -i https://mirrors.aliyun.com/pypi/simple/
tqdm==4.31.1 -i https://mirrors.aliyun.com/pypi/simple/
